name: backend-spring CI

on:
  push:
    paths:
      - 'backend-spring/**'
  pull_request:
    paths:
      - 'backend-spring/**'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: docker build -t coursecompass-backend -f backend-spring/Dockerfile backend-spring

      - name: Run container
        run: docker run -d -p 8080:8080 --name coursecompass-backend coursecompass-backend
